body{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: gray;
}
* {
    box-sizing: border-box;
}
li{
}
ul {
    padding: 0;
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    color: grey;
    font-weight: 300;
    font-size: 15px;
}
.wrapper{
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     margin-top:20px;
     border-top:3px solid orange;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
     overflow: hidden;
 }
.main{
    width:100%;
}
 .header-logo{
 margin-right: -15px;
 margin-left: -15px;
 }
 .col-logo{
 float:left;
 border-right: 1px solid grey;
 width: 33.33333333%;
 padding-right: 15px;
 padding-left: 15px;
 }
 .col-text-info{
  padding-left: 15px;
  width:auto;
 }
 .container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }



 .menu-nav{
padding-left: 0;
list-style: none;
border-top: 2px solid  #bfc0c3;
border-bottom: 2px solid  #bfc0c3;



 }
  .menu-nav >li{
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: large;

  }
    .menu-nav >li >a{
     display:block;
     padding: 10px 15px;
     color: gray;
     text-decoration: none;

    }

.row-list-product .row-list-info .row-list-clients{
    width: 100%;


 }
.row-list-product .row-list-info .row-list-clients{
    margin-right: -15px;
    margin-left: -15px;


 }
.row-list-clients{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.clearfix {
    clear: both;
}
.bloc-title{
    font-size: 18px;
    text-transform: uppercase;
    color: grey;
}
.list-brands{
    width: 100%;
}
.list-brands >li{
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;

}
.list-brands >li >.img-brands{
    width: 16%;
    display: block;

    margin-left: -16px;
    margin-right: -16px;

}

.footer-logo{
    text-align: center;
}
.footer-menu >li{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 14px;

}
.footer-menu >li >a{
    border-right:1px solid gray;
    display:block;
    padding: 10px 15px;
    color: gray;
    text-decoration: none;

}

