body{

    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: gray;
    background-image: url(https://static.journal-theme.com/15/image/data/journal2/pattern/brickwall_@2X.png);
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
    background-attachment: fixed;
    background-color: rgb(244, 244, 244);

}
* {
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    color: #3b3b3b;
    font-weight: 400;
    font-size: 18px;
}
h4{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}
.wrapper{
    background-color: white;
     max-width: 1100px;
     margin: 20px auto;
     border-top:3px solid orange;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
     border-bottom: 1px solid grey;
    overflow: hidden;
 }
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix {
    clear: both;
}

button{
    background-color: black;
    color: #fff;
    float: right;
}
/* ************    Шапка сайта      *********/
.col-logo >img{
    width: 100%;
}
 .col-text-info{
     border-left: 2px solid #a9a9a9;
     padding: 5px 21px;
     width: 38%;
     display: block;
     float: left;
     margin-top: 30px;
 }
.menu-nav{
    border-top: 2px solid  #bfc0c3;
    border-bottom: 2px solid  #bfc0c3;
}
.menu-nav >li{
      display: inline-block;
      margin: 0 5px;
}
.menu-nav >li >a{
     display:block;
     padding: 10px 15px;
     color: gray;
     text-transform: uppercase;
     text-decoration: none;
      font-size: large;
}
.menu-nav >li >a:hover{
    text-decoration-line: underline;
    color:#c37b0f ;
}
/* ************    content сайта      *********/
.view-header,.columns-info, .col-logo,.list-brands,.column-product{
    padding-left: 15px;
    padding-right: 15px;
    }
.row-product .row-clients,.row-clients{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-right: -15px;
    margin-left: -15px;
}
.row-clients{
    margin: 20px auto;
}
.columns-info{
    border-top: 2px solid rgba(178, 188, 189, 0.22);
    display: flex;
}
.columns-info >li,.col-data,.col-logo{
    float: left;
    width: 33%;
}
.row-contact,.row-news{
    border-bottom: 2px dotted gray;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.block-img{
    float: left;
}
.block-img-contact >img{
   width: 43px;
    height: 43px;
    float: left;
    margin-right: 10px;
}
.col-contacts,
.col-text,
.col-data{
       padding: 5px;
}
.block-tel{
    margin-top: 10px;
}
/* ************   featured Products     *********/
.column-product >li{
    padding: 1em;
    width: 50%;
    float: left;
}
.img-product-btm{
    padding: 5px;
    text-align: center;
}
.img-product-btm >span{
    display: inline-block;
}
.img-product >img{
    width: 100%;
}
.arrow-left{
    float: left;
}
.arrow-right{
    float: right;
}
.col-wrapper{
    padding: 0 0 5px 0;
    margin: 0;
    border: 2px solid #c6bfbf;
}
.img-btn-bootom{
    border-bottom: 2px solid black;
}
.text-content ,.caption{
    padding-top: 10px;
    color: black;
    font-size: 16px;
}
/* ************   block- our clients     *********/

.block-title-brand{
    font-size: 18px;
    text-transform: uppercase;
    color: grey;
    display: block;
    background: white;
    width: 147px;
    margin-top: -24px;
    margin-left: 40px;
    padding-left: 10px;
}
.line-through{
    display: block;
    background: white;
    width: 147px;
    margin-top: -24px;
    margin-left: 40px;
    padding-left: 10px;
}
.list-brands >li{
  display: inline-block;
  width: 16%;
}
.img-brands >img{
    width: 100%;
}
/* ************   footer сайта      *********/
.footer{
    padding: 30px 0;
}
.footer-logo >a{
    display:block;
    text-align: center;
}
.footer-menu >li{
    display: inline-block;
}
.footer-menu >li >a{
    border-right:1px solid gray;
    display:block;
    padding: 5px 15px;
    color: gray;
    text-decoration: none;
     text-transform: uppercase;
     font-size: 10px;
}
.footer-navbar,.footer-text-info{
    text-align: -webkit-center;
    }
.no-border{
    border-bottom: none;
}
.wrp:hover{
    background-color: #284ac3;
    opacity: 0.5;
}
.column-wrap-data{

    border-right: 2px solid #ededed;
    padding-right: 10px;
}
.column-wrap-contact{

     padding-left: 10px;
    border-left: 2px solid #ededed;
}
.row-news{
display:flex;
padding:0;
}
.col-data >a{
display:block;}




