body{

    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: gray;

}
.body-backrg{

    background-color: #a9a9a999;

}
* {
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    color: #3b3b3b;
    font-weight: 400;
    font-size: 18px;
}
h4{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}
.wrapper{
    background-color: white;
     max-width: 1100px;
     margin-left: auto;
     margin-right: auto;
     margin-top:20px;
     margin-bottom:20px;

    border-top:3px solid orange;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
    border-bottom: 1px solid grey;

    overflow: hidden;
 }
.main{
    width:100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix {
    clear: both;
}
.no-border{
    border-bottom: none;
}
button{
    background-color: black;
    color: #fff;
    float: right;
}

/* ************    Шапка сайта      *********/
 .header-logo{
     margin-right: -15px;
     margin-left: -15px;
 }
 .col-logo{
     float:left;

     width: 33.33333333%;
     padding-right: 15px;
     padding-left: 15px;
 }
.col-logo >img{
    width: 100%;
}
 .col-text-info{
     border-left: 2px solid #a9a9a9;
     padding: 5px 21px;
     width: 38%;
     display: block;
     float: left;
     margin-top: 30px;
 }
.menu-nav{
    padding-left: 0;
    list-style: none;
    border-top: 2px solid  #bfc0c3;
    border-bottom: 2px solid  #bfc0c3;
}
.menu-nav >li{
      display: inline-block;
      text-transform: uppercase;

      font-size: large;
}
.menu-nav >li >a{
     display:block;
     padding: 10px 15px;
     color: gray;
     text-decoration: none;
}
/* ************    content сайта      *********/

.row-product ,.row-info ,.row-clients{
    width: 100%;
}
.row-product .row-clients{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-right: -15px;
    margin-left: -15px;
}
.row-clients{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin: 20px auto;
}
.row-info{
    border-top: 2px solid lightgrey;
    margin: 0;
    padding: 10px 20px 10px 20px;
}
/* ************   Latest News      *********/



.list-info{
    margin-left: -20px;
    margin-right: -24px;
}
.list-info >li{
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    float: left;
    width: 31%;
}
.row-contact{
    border-bottom:2px dotted gray ;
    display: flex;
}
.row-news{
    border-bottom:2px dotted gray ;
}
.block-img{
    float: left;
}

.col-data{
    float: left;

}
/* ************   featured Products     *********/
.row-product{

}
.column-product >li{
    padding: 2em;
    width: 50%;
    float: left;
    margin-right: 0%;
    display: inline;
}
.img-product >img{
    width: 100%;
}
.img-product-btm >li{
    display: inline-block;
}
.arrow-left{
    float: left;
    width: 33%;
}
.arrow-right{
    float: right;
}
.col-wrapper{
    padding: 0 0 20px 0;
    margin: 0;
    border: 2px solid #c6bfbf;
}
.img-btn-bootom{
    border-bottom: 2px solid black;
}
.text-content ,.caption{
    padding-top: 10px;
    color: black;
    font-size: 16px;
}
/* ************   block- our clients     *********/

.block-title-brand{
    font-size: 18px;
    text-transform: uppercase;
    color: grey;
}
.list-brands{
    width: 100%;
}
.list-brands >li{
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;

}
.img-brands{
    width: 16%;
}
.list-brands >li >.img-brands{

    margin-left: -20px;
    margin-right: -24px;

}
.img-brands >.img{
    width: 100%; display: block;

}

/* ************   footer сайта      *********/
.footer{
    margin: 0;
    padding: 30px 0;
}
.footer-navbar{
    width: 100%;
}
.footer-logo{
    text-align: center;
}
.footer-menu >li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 10px;

}
.footer-menu >li >a{
    border-right:1px solid gray;
    display:block;
    padding: 5px 15px;
    color: gray;
    text-decoration: none;

}
.no-border{
    border-bottom: none;
}




