body{
    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.65;
    color: #696969;
    font-weight: 400;

}
* {
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}
.container{

    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.bg-brickwall{
    background-image: url(../image/brickwall.png);
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
    background-attachment: fixed;
    background-color: rgb(244, 244, 244);
}



/**************ШАПКА САЙТА**********/
.wrap-inner-head{
    border-top: 2px solid orange;

}
.header-logo a img{
    display: block;
    max-width: 100%;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

}
.header-navbar{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.37);
    border-top: 2px solid rgba(128, 128, 128, 0.86);
}
.menu-nav{
    display: flex;
    cursor: pointer;
    min-height: 40px;

/*    margin-left: 15px;
    margin-right: 15px;*/
    margin: 0 15px;
    padding: 0;
    list-style-type: none;
}
.menu-nav li a{
    min-height: 15px;
}
.header-navbar ul li a{
    display: block;
    padding: 5px 30px;

    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    border-top: 2px solid rgba(109, 49, 49, 0);
}
.header-navbar ul li a:hover{
    color: #c37b0f;
    /* border-top: 2px solid #f8a63a;*/
}
.col-logo{
    width: 33%;
}
.col-text-info{
    width: 65%;
    padding-left: 30px;
    border-left: 2px solid gray;
}
/**************крнтент САЙТА**********/
.main{
    margin-top: -20px;
}
.row-product{
    display: flex;
    flex-wrap: wrap;
}

.row-clients ,.row-product{
    margin-right: 15px;
    margin-left: 15px;

}
.row-product >ul{
    display: flex;
}
.row-clients >ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.column-product li{
    width: 50%;
}

.list-brands{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list-brands li{
    width:16%;
    vertical-align: middle;
}
.list-brands li img{
   width: 100%;
}
.list-brands >img{
    width:auto;
}




/**************FOOTER САЙТА**********/
.footer{
    margin: 0;
    padding: 30px 0;
}

.footer-logo{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.footer-logo a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-logo a img{
    display: inline-block;
}
.footer-menu >li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 10px;

}
.footer-menu >li >a{
    border-right:1px solid gray;
    display:block;
    padding: 5px 15px;
    color: gray;
    text-decoration: none;

}
.no-border{
    border-bottom: none;
}
.wrp:hover{
    background-color: #284ac3;
    opacity: 0.5;

}
.wrapper-footer{
    margin-left: -15px;
    margin-right: -15px;
}
